package {{package}};

import {{package}}.api.{{classname}}Api;
{{#imports}}
import {{import}};
{{/imports}}
import {{package}}.service.{{classname}}Service;
import lombok.RequiredArgsConstructor;
import lombok.extern.slf4j.Slf4j;
import org.springframework.http.HttpStatus;
import org.springframework.http.ResponseEntity;
import org.springframework.web.bind.annotation.RestController;

@Slf4j
@RestController
@RequiredArgsConstructor
public class {{classname}}Controller implements {{classname}}Api {
    
    private final {{classname}}Service service;
    
{{#operations}}
{{#operation}}
    @Override
    public ResponseEntity<{{#returnType}}{{returnType}}{{/returnType}}{{^returnType}}Void{{/returnType}}> {{operationId}}({{#allParams}}{{#isBodyParam}}{{#dataType}}{{dataType}}{{/dataType}}{{/isBodyParam}}{{^isBodyParam}}{{#dataType}}{{dataType}}{{/dataType}}{{/isBodyParam}} {{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}}) {
        log.info("{{httpMethod}} {{path}} - {{operationId}}");
        
        try {
            {{#returnType}}
            {{returnType}} result = service.{{operationId}}({{#allParams}}{{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}});
            return ResponseEntity.ok(result);
            {{/returnType}}
            {{^returnType}}
            service.{{operationId}}({{#allParams}}{{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}});
            return ResponseEntity.status(HttpStatus.NO_CONTENT).build();
            {{/returnType}}
        } catch (Exception e) {
            log.error("Error in {{operationId}}", e);
            return ResponseEntity.status(HttpStatus.INTERNAL_SERVER_ERROR).build();
        }
    }
    
{{/operation}}
{{/operations}}
}
