package {{package}};

import jakarta.persistence.*;
import jakarta.validation.constraints.*;
import lombok.*;
import org.hibernate.annotations.CreationTimestamp;
import org.hibernate.annotations.UpdateTimestamp;

import java.time.OffsetDateTime;
import java.util.UUID;

{{#jackson}}
import com.fasterxml.jackson.annotation.JsonProperty;
{{/jackson}}
{{#hasVars}}
{{#vars}}
{{#isEnum}}
import {{package}}.{{classname}}.{{enumName}};
{{/isEnum}}
{{/vars}}
{{/hasVars}}

/**
 * {{#description}}{{description}}{{/description}}{{^description}}{{classname}}{{/description}}
 */
@Entity
@Table(name = "{{#lambda.snakecase}}{{classname}}{{/lambda.snakecase}}")
@Data
@NoArgsConstructor
@AllArgsConstructor
@Builder
public class {{classname}} {
    
    @Id
    @GeneratedValue(strategy = GenerationType.UUID)
    @Column(name = "id", updatable = false, nullable = false)
    private UUID id;
    
{{#vars}}
    {{#isEnum}}
    @Enumerated(EnumType.STRING)
    {{/isEnum}}
    {{#required}}
    @NotNull
    {{/required}}
    {{#minimum}}
    @Min({{minimum}})
    {{/minimum}}
    {{#maximum}}
    @Max({{maximum}})
    {{/maximum}}
    {{#minLength}}
    @Size(min = {{minLength}})
    {{/minLength}}
    {{#maxLength}}
    @Size(max = {{maxLength}})
    {{/maxLength}}
    {{#pattern}}
    @Pattern(regexp = "{{{pattern}}}")
    {{/pattern}}
    @Column(name = "{{#lambda.snakecase}}{{baseName}}{{/lambda.snakecase}}"{{#required}}, nullable = false{{/required}}{{#maxLength}}, length = {{maxLength}}{{/maxLength}})
    {{#jackson}}
    @JsonProperty("{{baseName}}")
    {{/jackson}}
    private {{>modelMutable}} {{name}};
    
{{/vars}}
    @CreationTimestamp
    @Column(name = "created_at", updatable = false, nullable = false)
    private OffsetDateTime createdAt;
    
    @UpdateTimestamp
    @Column(name = "updated_at", nullable = false)
    private OffsetDateTime updatedAt;
}
