package {{package}};

{{#imports}}import {{import}};
{{/imports}}

import jakarta.validation.Valid;
import java.util.List;
import java.util.UUID;
import jakarta.annotation.Generated;

/**
 * {{#lambda.titlecase}}{{classname}}{{/lambda.titlecase}} Service
 * {{#description}}{{description}}{{/description}}
 */
@Generated(value = "org.openapitools.codegen.languages.SpringCodegen", date = "{{generatedDate}}")
public interface {{classname}}Service {

{{#operations}}
{{#operation}}
    /**
     * {{httpMethod}} {{path}} : {{summary}}
     * {{#notes}}{{notes}}{{/notes}}
     *
{{#allParams}}
     * @param {{paramName}} {{#description}}{{description}}{{/description}}{{#required}} (required){{/required}}{{^required}} (optional{{#defaultValue}}, default to {{.}}{{/defaultValue}}){{/required}}
{{/allParams}}
{{#responses}}
     * @return {{message}} (status code {{code}})
{{/responses}}
     */
    {{#returnType}}{{returnType}}{{/returnType}}{{^returnType}}void{{/returnType}} {{operationId}}({{#allParams}}{{#isBodyParam}}@Valid {{/isBodyParam}}{{dataType}} {{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}});

{{/operation}}
{{/operations}}
}
