package {{package}};

{{#imports}}
import {{import}};
{{/imports}}
import lombok.RequiredArgsConstructor;
import lombok.extern.slf4j.Slf4j;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

@Slf4j
@Service
@RequiredArgsConstructor
public class {{classname}}ServiceImpl implements {{classname}}Service {
    
    private final {{classname}}Repository repository;
    
{{#operations}}
{{#operation}}
    @Override
    @Transactional{{#returnType}}(readOnly = true){{/returnType}}
    public {{#returnType}}{{returnType}}{{/returnType}}{{^returnType}}void{{/returnType}} {{operationId}}({{#allParams}}{{#isBodyParam}}{{#dataType}}{{dataType}}{{/dataType}}{{/isBodyParam}}{{^isBodyParam}}{{#dataType}}{{dataType}}{{/dataType}}{{/isBodyParam}} {{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}}) {
        log.info("Executing {{operationId}} with params: {{#allParams}}{{paramName}}={}{{/allParams}}", {{#allParams}}{{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}});
        
        // TODO: Implement business logic
        {{#returnType}}
        return null;
        {{/returnType}}
    }
    
{{/operation}}
{{/operations}}
}
